Package: cython
Version: 0.19.2-1
Architecture: amd64
Maintainer: Robert Bradshaw, Stefan Behnel, Dag Seljebotn, Greg Ewing, et al. <cython-devel@python.org>
Installed-Size: 6536
Depends: python (<< 2.7), python (>= 2.6), python-support (>= 0.90.0), libc6 (>= 2.4)
Section: python
Priority: optional
Description: The Cython compiler for writing C extensions for the Python
   The Cython language makes writing C extensions for the Python language as
   easy as Python itself.  Cython is a source code translator based on the
   well-known Pyrex_, but supports more cutting edge functionality and
   optimizations.
 .
   The Cython language is very close to the Python language (and most Python
   code is also valid Cython code), but Cython additionally supports calling C
   functions and declaring C types on variables and class attributes. This
   allows the compiler to generate very efficient C code from Cython code.
 .
   This makes Cython the ideal language for writing glue code for external C
   libraries, and for fast C modules that speed up the execution of Python
   code.
 .
   .. _Pyrex: http://www.cosc.canterbury.ac.nz/greg.ewing/python/Pyrex/
Python-Version: 2.6
