Source: cython
Maintainer: Robert Bradshaw, Stefan Behnel, Dag Seljebotn, Greg Ewing, et al. <cython-devel@python.org>
Section: python
Priority: optional
Build-Depends: python-all-dev, debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.7.2
XS-Python-Version: current

Package: cython
Architecture: any
Depends: ${python:Depends}, ${shlibs:Depends}
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: The Cython compiler for writing C extensions for the Python 
   The Cython language makes writing C extensions for the Python language as
   easy as Python itself.  Cython is a source code translator based on the
   well-known Pyrex_, but supports more cutting edge functionality and
   optimizations.
 .
   The Cython language is very close to the Python language (and most Python
   code is also valid Cython code), but Cython additionally supports calling C
   functions and declaring C types on variables and class attributes. This
   allows the compiler to generate very efficient C code from Cython code.
 .
   This makes Cython the ideal language for writing glue code for external C
   libraries, and for fast C modules that speed up the execution of Python
   code.
 .
   .. _Pyrex: http://www.cosc.canterbury.ac.nz/greg.ewing/python/Pyrex/
 .
